body {
  background-color: black;
  background-image: url('../images/24.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container-fluid {
  bottom: 0;
  height: fit-content;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
}

/* Element variable declaration */

:root {
  --timer-spacing-addition: .3rem;
  --number-block-builder-background-color: #9e962c;
  --number-block-builder-size-length: 2rem;
  --number-block-builder-size-thickness: .5rem;
  --number-block-builder-border-radius: .8rem;
  --timer-indicator-border-radius: 50%;
  --number-block-builder-horizontal-margin: .05rem;
  --number-block-builder-spacing: calc(
                                    calc(var(--number-block-builder-size-length) / 2) -
                                    var(--number-block-builder-horizontal-margin)
                                  );
}

.card-body {
  padding: .2rem;
  display: table-caption;
  border-radius: .5rem;
  background-color: black;
}

.numberPanel {
  display: flex;
  padding: 8px;
}

.horizontal_component {
  background-color: var(--number-block-builder-background-color);
  width:            var(--number-block-builder-size-length);
  height:           var(--number-block-builder-size-thickness);
  border-radius:    var(--number-block-builder-border-radius);
  margin:           .1rem;
}

.spacing {
  padding: var(--number-block-builder-spacing);
}

.vertical_component {
  background-color: var(--number-block-builder-background-color);
  width:            var(--number-block-builder-size-thickness);
  height:           var(--number-block-builder-size-length);
  border-radius:    var(--number-block-builder-border-radius);
}

.timer_indicator_component {
  background-color: var(--number-block-builder-background-color);
  width:            calc(var(--number-block-builder-size-thickness) + var(--timer-spacing-addition) );
  height:           calc(var(--number-block-builder-size-thickness) + var(--timer-spacing-addition) );
  border-radius:    60%;
  margin:           0 auto;
}

.IndicatorPanel {
  width: var(--number-block-builder-size-length);
}

.vertical-All {
  margin-top: var(--number-block-builder-size-thickness);
}

.time-spacing {
  height: .5rem;
  margin-bottom: calc(var(--number-block-builder-size-thickness) + var(--timer-spacing-addition) );
}
